html {
    font-size: 10px;
}

:root {
    --color-light-s: #FAFAFA;
    --color-light-l: #F6F6F6;
    --color-light-xl : #FFFFFF;
    --color-dark-s: #CDCDCD;
    --color-dark-m:  #B2B2B2;
    --color-dark-l: #545454;
    --color-dark-xl: #4C4C4C;
    --color-dark-2xl: #444444;
    --color-dark-3xl:#292929;
    --color-primary: #F1CDB3;
    --color-primary-light: #FDDCC4;
    --start-screen-gradient-background: url(../../assets/images/noise_transparent@2x.png), 
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;;
    --footer-gradient-background : url(../../assets/images/noise_transparent@2x.png), 
    radial-gradient(110.67% 538.64% at 5.73% 50%, 
    #513D2F 0%, #1A1A1C 100%), #211F20;
    


}



*, *::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



ul {
    list-style-type: none;
}

a {

    text-decoration: none;
}




.page__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}


h1, 
h2,
h3,
h4,
h5,
h6 {

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}

h2 {
    font-size: 4.4rem;
    line-height: 5.7rem;
    
    color: var(--color-light-xl);
}

h3 {
    font-size: 3.5rem;
    line-height: 130%;
    color: var(--color-dark-3xl);
    letter-spacing: 0.06em;
}

h4 {
  
    font-size: 2rem;
    line-height: 1.15;
    letter-spacing: 0.06em;
    font-family: "Georgia", sans-serif;
}

h5 {
    
    font-size: 1.5rem;
    line-height: 110%;
}

.visually_hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.text__item {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 160%;
}

a.button {
    display: block;
    background-color: var(--color-primary);
    color: var(--color-dark-xl);
    border-radius: 10rem;
    text-align: center;
    font-family: Georgia;
    font-size: 1.7rem;
    letter-spacing: 0.06em;
    padding: 1.5rem 4.5rem;
    white-space: nowrap;
    max-width: 20.7rem;   
}

a.button:hover {
    background-color: var(--color-primary-light);
}


.header {
    background-color: var(--color-light-xl);
  
} 


.logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 18.4rem;
    white-space: nowrap;
    transition: 1.25s;
}


.logo__title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3.2rem;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.logo__subtitle {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 1.5rem;
    letter-spacing: 0.1em;
    color: var(--color-dark-xl);
    text-align: center;
    margin-top: 1rem;
}

.header__background {
    width: 100%;
    position: fixed;
    background-color: var(--color-light-xl);
}



.header__fixed {
    background-color: var(--color-light-xl);
    display: flex;
    padding: 3rem 0;
    justify-content: space-between;
    width: 120rem;
}


.header .menu .list {
  
    display: flex;
    justify-content: space-between;
    column-gap: 3.5rem;
    flex-wrap: wrap;
    padding-top: 1.6rem;

}


.header .menu .list__item_link{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 160%;
    color: var(--color-dark-l);
}

.header .menu .list__item_link_active {
    padding-bottom: 0.3rem;
    border-bottom: 0.3rem solid var(--color-primary);
}


.header .menu .list__item_link:hover {
    color: var(--color-dark-3xl);
} 
 

/* Main */
 main {
    padding-top: 12rem;
}

.pets {
    padding-top: 8rem;
}

.pets .page__wrapper > h3 {
    text-align: center;
    white-space: pre-line;
}

.pets .card__items {
    margin-top: 6rem;
   display: grid;
   grid-template-columns: repeat(4, auto);
   row-gap: 3rem;
    column-gap: 4rem;
}

.pets .card__item:nth-child(n + 9) {
    display: none;
}

.pets .card__title {
    pointer-events: none;
}

.pets .card__item {
    display: flex;
    flex-direction: column;
    height: 43.5rem;
    width: 27rem;
    padding-bottom: 3rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 5% 5% 0 0;
}

.pets .card__item .img__wrapper {
    pointer-events: none;
}

.pets .card__item img {
    pointer-events: none;
}

.pets .card__item:hover {
    cursor: pointer;
    box-shadow: 0 0 1rem 0.5rem rgba(205,205,205,1);
   
}

.pets .card__item:hover > .card__button {
    background-color: var(--color-primary);
}

.pets .card__button {
    background: none;
    border: 0.2rem solid var(--color-primary);
}



.pets .card__button:hover {
    background-color: var(--color-primary);
}

.pagination__container {
    padding-top: 6rem;
    padding-bottom: 10rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 34rem;
}

.pagination__item {
   background-color: none;
   font-size: 2rem;
   width: 5.2rem;
   height: 5.2rem;
   text-align: center;
   vertical-align: middle;
   border-radius: 50%;
   border: 2px solid var(--color-primary);
   transition: 0.5s;
   outline: none;
   pointer-events: all;
  
}

.unscrollable {
    overflow-y: hidden;
}


/* 

2. Добавить скрипт к меню - проверить работоспособность. 
3. Добавить модалку, привязать клик ко всей карточке. Это вообще через css организую - pointer-events none 
и поправить скрипт цели.  



*/
.pagination__item_active {
    background-color: var(--color-primary);
    
}


.pagination__item:not(.pagination__item_disabled):not(.pagination__item_active):hover{
    cursor: pointer;
    background-color: var(--color-primary);
}

.pagination__item_disabled{
    border-color: var(--color-dark-s);
    color: var(--color-dark-s);
    cursor: default;
    pointer-events: none;
}


.footer {
    background: var(--start-screen-gradient-background);
    width: 100%;
}


.footer .page__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
}

.footer a {
    color: var(--color-primary)
}

.footer h3 {

    color: var(--color-light-xl);
}


.footer p {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    color: var(--color-primary);
    letter-spacing: 0.06em;
    text-align: baseline;
    
}

.footer .content__wrapper:not(:last-child) {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding-top: 2rem;
    max-width: 28rem;
    margin-bottom: 6rem;
}


.footer .content__wrapper:first-child .content__item {
    padding-left: 6rem;
    position: relative;
}

.footer .content__wrapper:nth-child(2) {
    max-width: 30.2rem;
   
}

.footer .content__wrapper:first-child .content__item::before {
    position: absolute;
    content: "";
    width: 4rem;
    height: 2.6rem;
    background-image: url('../../assets/images/mail.svg');
    top: 0;
    left: 0;
}

.footer .content__wrapper:first-child .content__item:last-child::before {
    background-image: url("../../assets/images/phone.svg");
    height: 32px;
}

.footer .content__wrapper:nth-child(2) .content__item {
    padding-left: 4.2rem;
    position: relative;
}

.footer .content__wrapper:nth-child(2) .content__item::before {
    content: "";
    position: absolute;
    width: 2.2rem;
    height: 3.2rem;
    background-image: url("../../assets/images/pin.svg");
    top: 0;
    left: 0;
}

.mobile__menu{
    display: none;
}


.pets__modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
   width: 95.2rem;
   z-index: 5000;
 }

 .modal__active {
    transform: translate(-50%, -50%) scale(1);
 }




 .modal__container {
     width: 90rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: var(--color-light-s);
    border-radius: 3%;
 }

 .pets__modal b {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 115%;
    letter-spacing: 0.06em;
 }

 .pets__modal p {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 110%;
    letter-spacing: 0.06em;
    margin-top: 4rem;
    margin-bottom: 4rem;
 }

 .pets__modal li {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
 }

 .pets__modal span {
     font-weight: bold;
 }

 .pets__modal li:not(:last-child) {
     margin-bottom: 1rem;
 }

.pets__modal img {
    width: 50rem;
    border-radius: 3%;
}

.pets__modal .text__wrapper {
    max-width: 35.1rem;
    margin-right: 2rem;
}

.pets__modal h3 {
    margin-bottom: 1rem;
}

.pets__modal button {
    cursor: pointer;
    align-self: flex-end;
    font-size: 0;
    width: 5.2rem;
    height: 5.2rem;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    background: 50% 50% no-repeat url('../../assets/images/Close.svg') var(--color-light-s);
    z-index: 15000;
}


.overlay {

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;  
    background: rgba(41, 41, 41, 0.6);
    opacity: 0;
    pointer-events: none;
  }

  
.overlay__active {
    opacity: 1;
    pointer-events: all;
  }

@media (max-width: 1279px) {
    .page__wrapper {
        max-width: 70.8rem;
        margin: 0 auto;
    }

    .header__fixed {
        width: 70.8rem;
    }

    .pets .page__wrapper {
        padding-left: 6.4rem;
        padding-right: 6.4rem;
        padding-bottom: 7rem;
    }

  .pets .card__items {
      grid-template-columns: repeat(2, auto);
  }

  .pets .card__item:nth-child(n + 7) {
      display: none;
  }


    .footer .page__wrapper {
        flex-wrap: wrap;
    }

    .footer .content__wrapper:last-child {
       margin: 0 auto;
    }
    
    .footer .content__wrapper:first-child .content__item {
        margin-top: 4.4rem;
    }

    .footer .content__wrapper:nth-child(2) .content__item {
        margin-top: 3.3rem;
    }
   
    .pets__modal {
        width: 68.2rem;
       
    }

    .modal__container {
        width: 63rem;
    }

    .pets__modal img {
        width: 35rem;
    }

    .pets__modal .text__wrapper {
        max-width: 26rem;
        margin-bottom: 3.8rem;
    }

    .pets__modal h3 {
        margin-top: 1rem;
    }
    
 
}


@media (max-width: 767px) {

    .page__wrapper {
        max-width: 300px;
        margin: 0 auto;
    }

   header .menu__button {
        position: fixed;
        top: 5.5rem;
        right: 3.5rem;
        background-image: url('../../assets/images/Burger__pets.svg');
        background-repeat: no-repeat;
        width: 30px;
        height: 22px;

    }

    .mobile__menu .menu__button {
        width: 3rem;
        height: 2.2rem;
        background-image: url('../../assets/images/Burger.svg');
        background-repeat: no-repeat;
        
    }

    .mobile__top {
        margin-top: 3rem;
        display: flex;
        justify-content: space-between;
        margin-right: 4.3rem;
        width: 25.7rem;
        align-items: center;
    }

    .mobile__menu .logo__title {
        color: var(--color-primary);
    }

    .mobile__menu .logo__subtitle {
        color: var(--color-light-xl);
    }

    .header .menu .list {
        display: none;
    }

    .logo__hidden {
        opacity: 0;
        transform: translate(50%);
    }

    
    .mobile__menu {
        flex-wrap: wrap;
        overflow: hidden;
        position: fixed;
        top: 0;
        right: 0;
        width: 32rem;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        background-color: var(--color-dark-3xl);
        transition: 1.25s;
        z-index: 10;
       
       
    }

    .mobile__menu_hidden {
        transform: translateX(100%);
        width: 0;
    }

   
 
    .mobile__menu .list {
        white-space: nowrap;
        flex-wrap: nowrap;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
       width: 32rem;
       height: 40vh;
       margin-top: 7rem;
      

    }

    .mobile__menu .list__item_link{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 160%;
    color: var(--color-light-s);
}

.mobile__menu .list__item_link_active {
    padding-bottom: 0.3rem;
    border-bottom: 0.3rem solid var(--color-primary);
}

.mobile__menu .list__item_link_disabled {
    color: var(--color-dark-s);
}

.mobile__menu .list__item_link:hover {
    color: var(--color-light-s);
}

    .rotate {
        transform: rotate(-90deg);
    }


    .pets .page__wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    .pets .page__wrapper > h3 {
        font-size: 2.6rem;
    }

    .pets .card__items {
        grid-template-columns: repeat(1, auto);
    }
  
    .pets .card__item:nth-child(n + 4) {
        display: none;
    }
  
  

    .footer .page__wrapper {
        padding-left: 0;
        padding-right: 0;
    }

  

    .pets .pagination__container {
        width: 100%;
    }

    .footer .content__wrapper .img {
        max-width: 26rem;
    }

    .footer .content__wrapper img {
        width: 100%;
    }


    
    .pets__modal {
        width: 27rem;
    }

      .modal__container {
         padding-left: 1rem;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          
          width: 24rem;
      }

      .pets__modal img {
          display: none;
      }


      .pets__modal p {
          text-align: justify;
      }

}