html {
    font-size: 10px;
}

:root {
    --color-light-s: #FAFAFA;
    --color-light-l: #F6F6F6;
    --color-light-xl : #FFFFFF;
    --color-dark-s: #CDCDCD;
    --color-dark-m:  #B2B2B2;
    --color-dark-l: #545454;
    --color-dark-xl: #4C4C4C;
    --color-dark-2xl: #444444;
    --color-dark-3xl:#292929;
    --color-primary: #F1CDB3;
    --color-primary-light: #FDDCC4;
    --start-screen-gradient-background: url(../../assets/images/noise_transparent@2x.png), 
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;;
    --footer-gradient-background : url(../../assets/images/noise_transparent@2x.png), 
    radial-gradient(110.67% 538.64% at 5.73% 50%, 
    #513D2F 0%, #1A1A1C 100%), #211F20;
    


}



*, *::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



ul {
    list-style-type: none;
}

a {

    text-decoration: none;
}




.page__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}


h1, 
h2,
h3,
h4,
h5,
h6 {

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}

h2 {
    font-size: 4.4rem;
    line-height: 5.7rem;
    
    color: var(--color-light-xl);
}

h3 {
    font-size: 3.5rem;
    line-height: 130%;
    color: var(--color-dark-3xl);
    letter-spacing: 0.06em;
}

h4 {
  
    font-size: 2rem;
    line-height: 1.15;
    letter-spacing: 0.06em;
    font-family: "Georgia", sans-serif;
}

h5 {
    
    font-size: 1.5rem;
    line-height: 110%;
}

.visually_hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.text__item {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 160%;
}

a.button {
    display: block;
    background-color: var(--color-primary);
    color: var(--color-dark-xl);
    border-radius: 10rem;
    text-align: center;
    font-family: Georgia;
    font-size: 1.7rem;
    letter-spacing: 0.06em;
    padding: 1.5rem 4.5rem;
    white-space: nowrap;
    max-width: 20.7rem;   
}

a.button:hover {
    background-color: var(--color-primary-light);
}


.header {
    background-color: var(--color-light-xl);
}

.logo {
    max-width: 18.4rem;
    white-space: nowrap;
}


.logo__title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3.2rem;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.logo__subtitle {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 1.5rem;
    letter-spacing: 0.1em;
    color: var(--color-dark-xl);
    text-align: center;
    margin-top: 1rem;
}


.header .page__wrapper {
    display: flex;
    padding: 3rem 0;
}

#menu__toggle {
    display: none;
}


.header .menu .list {
    display: flex;
    justify-content: space-between;
    column-gap: 3.5rem;
    flex-wrap: wrap;
    padding-top: 1.6rem;
    
}


.header .menu .list__item_link{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 160%;
    color: var(--color-dark-l);
}

.header .menu .list__item_link_active {
    padding-bottom: 0.3rem;
    border-bottom: 0.3rem solid var(--color-primary);
}


.header .menu .list__item_link:hover {
    color: var(--color-dark-3xl);
}

/* Main */

.pets {
    background-color: var(--color-light-l);
}

.pets .page__wrapper {
    padding-top: 8rem;
    padding-bottom: 10rem;
}

.pets .page__wrapper > h3 {
    text-align: center;
    max-width: 40rem;
    margin: 0 auto;
    white-space: pre-line;
}

.pets .card__items {
    margin-top: 6rem;
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   row-gap: 3rem;
 
}

.pets .card__item {
    width: 27rem;
    height: 43.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--color-light-s);
    border-top-left-radius: 9%;
    border-top-right-radius: 9%;
}

.pets .card__item:hover {
    cursor: pointer;
    box-shadow: 0 0 1rem 0.5rem rgba(205,205,205,1);
   
}

.pets .card__item .img__wrapper {
    margin-top: -3rem;
    width: 27rem;
}

.pets .card__item img {
    width: 100%;
}

.pagination__container {
    padding-top: 3rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 34rem;
}

.pagination__item {
   background-color: none;
   font-size: 2rem;
   width: 5.2rem;
   height: 5.2rem;
   text-align: center;
   vertical-align: middle;
   border-radius: 50%;
   border: 2px solid var(--color-primary);
   transition: 0.5s;
  
}

.pagination__item_active {
    background-color: var(--color-primary);
}


.pagination__item:hover:not(:disabled) {
    cursor: pointer;
    background-color: var(--color-primary);
}

.pagination__item:disabled{
    border-color: var(--color-dark-s);
    color: var(--color-dark-s);
    cursor: default;
}


.footer {
    background: var(--start-screen-gradient-background);
    width: 100%;
}


.footer .page__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
}

.footer a {
    color: var(--color-primary)
}

.footer h3 {

    color: var(--color-light-xl);
}


.footer p {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    color: var(--color-primary);
    letter-spacing: 0.06em;
    text-align: baseline;
    
}

.footer .content__wrapper:not(:last-child) {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding-top: 2rem;
    max-width: 28rem;
    margin-bottom: 6rem;
}


.footer .content__wrapper:first-child .content__item {
    padding-left: 6rem;
    position: relative;
}

.footer .content__wrapper:nth-child(2) {
    max-width: 30.2rem;
   
}

.footer .content__wrapper:first-child .content__item::before {
    position: absolute;
    content: "";
    width: 4rem;
    height: 2.6rem;
    background-image: url('../../assets/images/mail.svg');
    top: 0;
    left: 0;
}

.footer .content__wrapper:first-child .content__item:last-child::before {
    background-image: url("../../assets/images/phone.svg");
    height: 32px;
}

.footer .content__wrapper:nth-child(2) .content__item {
    padding-left: 4.2rem;
    position: relative;
}

.footer .content__wrapper:nth-child(2) .content__item::before {
    content: "";
    position: absolute;
    width: 2.2rem;
    height: 3.2rem;
    background-image: url("../../assets/images/pin.svg");
    top: 0;
    left: 0;
}

@media (max-width: 1279px) {
    .page__wrapper {
        max-width: 70.8rem;
        margin: 0 auto;
    }

    .pets .page__wrapper {
        padding-left: 6.4rem;
        padding-right: 6.4rem;
        padding-bottom: 7rem;
    }

    .pets .card__items {
        max-height: calc(43.5rem * 3 + 3rem*2);
    }

    .footer .page__wrapper {
        flex-wrap: wrap;
    }

    .footer .content__wrapper:last-child {
       margin: 0 auto;
    }
    
    .footer .content__wrapper:first-child .content__item {
        margin-top: 4.4rem;
    }

    .footer .content__wrapper:nth-child(2) .content__item {
        margin-top: 3.3rem;
    }
        
    
 
}


@media (max-width: 767px) {

    .page__wrapper {
        max-width: 300px;
        margin: 0 auto;
    }

   

    #menu__toggle {
        opacity: 0;
      }

      .menu__btn {
          top: 2rem;
          right: 3rem;
          display: flex;
          align-items: center;
          width: 3rem;
          height: 2.2rem;
          cursor: pointer;
          z-index: 1;
          position: relative;
          margin-top: 0.7rem;

      }

      .menu__btn > span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #000000;
      }

      .menu__btn > span::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: #000000;
          top: 0;
      }

      .menu__btn > span::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #000000;
        bottom: 0;
    }



    .header .menu .list {
        display: none;
    }

    .pets .page__wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    .pets .page__wrapper > h3 {
        font-size: 2.6rem;
    }

    .pets .card__items {
        margin-top: 4.2rem;
        justify-content: center;
        max-height: calc(43.5rem*3 + 3rem*2);
    }

    .footer .page__wrapper {
        padding-left: 0;
        padding-right: 0;
    }

  

    .pets .pagination__container {
        width: 100%;
    }

    .footer .content__wrapper .img {
        max-width: 26rem;
    }

    .footer .content__wrapper img {
        width: 100%;
    }

}