html {
    font-size: 10px;
}

:root {
    --color-light-s: #FAFAFA;
    --color-light-l: #F6F6F6;
    --color-light-xl : #FFFFFF;
    --color-dark-s: #CDCDCD;
    --color-dark-m:  #B2B2B2;
    --color-dark-l: #545454;
    --color-dark-xl: #4C4C4C;
    --color-dark-2xl: #444444;
    --color-dark-3xl:#292929;
    --color-primary: #F1CDB3;
    --color-primary-light: #FDDCC4;
    --start-screen-gradient-background: url(../../assets/images/noise_transparent@2x.png), 
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;;
    --footer-gradient-background : url(../../assets/images/noise_transparent@2x.png), 
    radial-gradient(110.67% 538.64% at 5.73% 50%, 
    #513D2F 0%, #1A1A1C 100%), #211F20;
    


}



*, *::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



ul {
    list-style-type: none;
}

a {

    text-decoration: none;
}


body {
    background: var(--start-screen-gradient-background);
}

.page__wrapper {
    max-width: 1200px;
    margin: 0 auto;
  
}


h1, 
h2,
h3,
h4,
h5,
h6 {

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}

h2 {
    font-size: 4.4rem;
    line-height: 5.7rem;
    
    color: var(--color-light-xl);
}

h3 {
    font-size: 3.5rem;
    line-height: 130%;
    color: var(--color-dark-3xl);
    letter-spacing: 0.06em;
}

h4 {
  
    font-size: 2rem;
    line-height: 1.15;
    letter-spacing: 0.06em;
    font-family: "Georgia", sans-serif;
}

h5 {
    
    font-size: 1.5rem;
    line-height: 110%;
}

.visually_hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.text__item {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 160%;
}

a.button {
    display: block;
    background-color: var(--color-primary);
    color: var(--color-dark-xl);
    border-radius: 10rem;
    text-align: center;
    font-family: Georgia;
    font-size: 1.7rem;
    letter-spacing: 0.06em;
    padding: 1.5rem 4.5rem;
    white-space: nowrap;
    max-width: 20.7rem;   
    
}

a.button:hover {
    background-color: var(--color-primary-light);
}


.header {
    position: relative;
    z-index: 10000;
}
.logo {
    display: flex;
    flex-wrap: wrap;
    max-width: 18.4rem;
    white-space: nowrap;
    justify-content: center;
    
}

.logo__fixed {
    transition: 2s;
    position: fixed;
    right: 10rem;
}


.logo__title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3.2rem;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-primary);
}

.logo__subtitle {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 1.5rem;
    letter-spacing: 0.1em;
    color: var(--color-light-xl);
    text-align: center;
    margin-top: 1rem;
}




.header .page__wrapper {
    display: flex;
    padding-top: 6rem;
    justify-content: space-between;
   
}

.header .menu .list {
    display: flex;
    justify-content: space-between;
    column-gap: 3.5rem;
    flex-wrap: wrap;
    padding-top: 1.6rem;
    
}


.header .menu .list__item_link{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 160%;
    color: var(--color-light-s);
}

.header .menu .list__item_link_active {
    padding-bottom: 0.3rem;
    border-bottom: 0.3rem solid var(--color-primary);
}

.header .menu .list__item_link_disabled {
    color: var(--color-dark-s);
}

.header .menu .list__item_link:hover {
    color: var(--color-light-s);
}

.promo .page__wrapper {
    padding-top: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.promo .text__wrapper {
    
    margin-bottom: 24.5rem;
}

.promo .text__header {
    max-width: 31rem;
}

.promo .text__item {
 
    color: var(--color-dark-s);
    margin-top: 4.2rem;
    max-width: 46rem;
}

.promo .text__button {
    margin-top: 4.3rem;
   
}

.promo .img__wrapper {
    display: flex;
    align-items: flex-end;
    max-width: 69.8rem;
    max-height: 72.8rem;
    overflow: hidden;
}

.promo img {
    width: 100%;
}

.promo .img_wrapper img {
    width: 100%;
}

.about {
    background: var(--color-light-xl);
    
}

.about .page__wrapper {

    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    padding-top: 8rem;
    padding-bottom: 10rem;
}

.about .text__header {
    max-width: 37rem;
}

.about .text__wrapper {
    max-width: 43rem;
    margin-top: 1.4rem;
    
    
}


.about .text__item {
    font-size: 1.5rem;
    line-height: 160%;
    color: var(--color-dark-xl);
    margin-top: 2.5rem;
}

.about .img__wrapper {
    max-width: 30rem;
    margin-right: 12rem;
}

.about .img {
    width: 100%;
    overflow: hidden;
}

.about .img__wrapper img {
    width: 100%;
    
}

.pets {
    background-color: var(--color-light-l);
    margin-top: -0.3rem;
}

.pets .page__wrapper {
    padding: 8.1rem 0 10.2rem 0;
}

.pets .page__wrapper > h3 {
    white-space: pre-line;
}
.pets h3 {
    margin: 0 auto;
    text-align: center;
}

.pets .arrow {
    width: 5.2rem;
    height: 5.2rem;
    border: 0.3rem solid var(--color-primary);
    border-radius: 10rem;
    padding: 1.9rem 1.7rem;
    transition: 0.5s;
    background: 50% 50% no-repeat url(../../assets/images/Arrow.svg);
    outline: none;
   
}

.pets .arrow__right {
   transform: rotate(180deg);
}

.pets .arrow:hover {
    cursor: pointer;
    background-color: var(--color-primary-light);

}



.pets .card__container {
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.6rem;
} 


 .pets .card__items {
    margin: 6rem 5.3rem ;
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin-bottom: 5.6rem;

}

.pets .card__item {
    width: 27rem;
    height: 43.5rem;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-light-s);
    border-top-left-radius: 9%;
    border-top-right-radius: 9%;
    padding-bottom: 3rem;
    
}

.pets .card__item:hover > .card__button {
    background-color: var(--color-primary);
}

.pets .card__img {
    pointer-events: none;
}

.pets .img__wrapper {
    pointer-events: none;
}



 .pets .card__item_visible {
    display: flex;
} 

.pets .card__item:hover {
    cursor: pointer;
    box-shadow: 0 0 1rem 0.5rem rgba(205,205,205,1);
   
}


.pets .card__title {
    margin-top: 2.5rem;
    margin-bottom: 3.5rem;
    pointer-events: none;
}

.pets .card__button {
    max-width: 18.7rem;
    margin: 0 auto;
    background: none;
    padding: 1.3rem 4.3rem;
    border: 0.2rem solid var(--color-primary);
    transition: 0.3s;
}

.pets .arrow__right img {
    transform: rotate(180deg);
}

.pets .pets__button {
    display: block;
    margin-top: 6.5rem;
    margin: 0 auto;
    max-width: 26.1rem;
}


.help {
    background-color: var(--color-light-xl);
    padding: 8rem 10rem;
    
}

.help .section__title {
    max-width: 31rem;
    margin: 0 auto;
}

.help h3 {
    text-align: center;
}

.help .icons {
    justify-content: center;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 6rem;
}

.icon__containter {
    margin: 0 6rem 5.5rem 6rem;
    text-align: center;
}

.icon {
    height: 60px;
    margin-bottom: 30px;
}

.donation {
    background-color: var(--color-light-l);
    
}

.donation .page__wrapper {
    margin-top: -3.4rem;
    padding: 8rem 14.3rem 8.2rem 14.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

.donation .text__header {
    max-width: 30.8rem
}

.donation .text__wrapper {
    flex-basis: 38rem;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.donation .img {
   margin-top: -0.9rem;
}

.donation .text__item {
    font-family: Georgia;
    letter-spacing: 0.06em;
    flex-grow: 0;
    flex-shrink: 0;
}

.donation .text__item:nth-of-type(1) {
    color: var(--color-dark-l);
    font-size: 1.5rem;
    line-height: 110%;
}

.donation .text__item:nth-of-type(2) {
    font-family: Georgia;
    padding: 1rem 1.5rem;
    background-color: var(--color-primary);
    letter-spacing: 0.06em;
    border-radius: 0.9rem; 
    display: flex;
    max-width: 34.9rem;
    column-gap: 2rem;
    align-items: baseline;
    word-spacing: 0.2rem;
    transition: 0.3s;
}

.donation .text__item:nth-of-type(2):hover {
    transform: scale(1.1);
} 

.donation .text__item:nth-of-type(2) a {
    color: var(--color-dark-l);
    font-size: 2rem;
    letter-spacing: 0.06rem;
    text-align: justify;
}

.donation .text__item:nth-of-type(2) span:first-child {
    margin-right: 1.1rem;
}

.donation .text__item:nth-of-type(3) {
    font-family: Arial;
    font-size: 1.2rem;
    font-style: italic;
    line-height: 150%;
    color: var(--color-dark-m);
}

.footer .page__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
}



.footer a {
    color: var(--color-primary)
}

.footer h3 {

    color: var(--color-light-xl);
}


.footer p {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    color: var(--color-primary);
    letter-spacing: 0.06em;
    text-align: baseline;
    
}

.footer .content__wrapper:not(:last-child) {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding-top: 2rem;
    max-width: 28rem;
    margin-bottom: 6rem;
}


.footer .content__wrapper:first-child .content__item {
    padding-left: 6rem;
    position: relative;
}

.footer .content__wrapper:nth-child(2) {
    max-width: 30.2rem;
   
}

.footer .content__wrapper:first-child .content__item::before {
    position: absolute;
    content: "";
    width: 4rem;
    height: 2.6rem;
    background-image: url('../../assets/images/mail.svg');
    top: 0;
    left: 0;
}

.footer .content__wrapper:first-child .content__item:last-child::before {
    background-image: url("../../assets/images/phone.svg");
    height: 32px;
}

.footer .content__wrapper:nth-child(2) .content__item {
    padding-left: 4.2rem;
    position: relative;
}

.footer .content__wrapper:nth-child(2) .content__item::before {
    content: "";
    position: absolute;
    width: 2.2rem;
    height: 3.2rem;
    background-image: url("../../assets/images/pin.svg");
    top: 0;
    left: 0;
}

.undisplayed {
    display: none !important;
    overflow-y: hidden;
   
}

.mobile__menu{
    display: none;
}


.pets__modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
   width: 95.2rem;
   z-index: 5000;
 }

 .modal__active {
    transform: translate(-50%, -50%) scale(1);
 }




 .modal__container {
     width: 90rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: var(--color-light-s);
    border-radius: 3%;
 }

 .pets__modal b {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 115%;
    letter-spacing: 0.06em;
 }

 .pets__modal p {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 110%;
    letter-spacing: 0.06em;
    margin-top: 4rem;
    margin-bottom: 4rem;
 }

 .pets__modal li {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
 }

 .pets__modal span {
     font-weight: bold;
 }

 .pets__modal li:not(:last-child) {
     margin-bottom: 1rem;
 }

.pets__modal img {
    width: 50rem;
    border-radius: 3%;
}

.pets__modal .text__wrapper {
    max-width: 35.1rem;
    margin-right: 2rem;
}

.pets__modal h3 {
    margin-bottom: 1rem;
}

.pets__modal button {
    cursor: pointer;
    align-self: flex-end;
    font-size: 0;
    width: 5.2rem;
    height: 5.2rem;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    background: 50% 50% no-repeat url('../../assets/images/Close.svg') var(--color-light-s);
    z-index: 15000;
}

.overlay {

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;  
  background: rgba(41, 41, 41, 0.6);
  opacity: 0;
  pointer-events: none;
}

.hidden {
    display: none;
}

.overlay__active {
  opacity: 1;
  pointer-events: all;
}

.unscrollable {
    overflow-y: hidden;
}

/* Прописать все ховеры для модалки и заадаптивить его
    Потом делаю логику
    Вспомнить про затемнение вокруг. Может, перед модалкой пустой див с затемнением?
*/

@media (max-width: 1279px) {
    .page__wrapper {
        max-width: 70.8rem;
        margin: 0 auto;
    }

    .header {
        margin-left: 3rem;
        margin-right: 3rem;
        
    }

    .header .page__wrapper {
        padding-top: 3rem;
    }

    .promo .page__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .promo .text__wrapper {
        margin-bottom: 10rem;
    }

    .promo .img__wrapper {
        max-width: 56.9rem;
        align-self: flex-end;
    }

    .about .page__wrapper {
        flex-direction: column-reverse;
        align-items: center;
    }

    .about .text__wrapper {
        margin-bottom: 8rem;
    }

    .about .img__wrapper {
        margin: 0 auto;
    }

  


    .pets .card__item:nth-child(3) {
        display: none;
    }

    .pets .card__items {
        margin-left: 1.2rem;
        margin-right: 1.2rem;
        max-width: 58rem;
    }

    .help {
        padding-left: 0;
        padding-right: 0;
    }


    .help .icons {
        justify-content: space-between;
        
    }

    .help .icon__containter {
       margin: 0;
       margin-bottom: 5.5rem;
       width: calc((100% - 12rem)/3);
       align-content: space-between;
    }

    .donation .page__wrapper {
        flex-direction: column-reverse;
        align-items: center;
    }

    .donation .img__wrapper {
        margin-top: -2rem;
    }

    .footer .page__wrapper {
        flex-wrap: wrap;
    }

    .footer .content__wrapper:last-child {
       margin: 0 auto;
    }
    
    .footer .content__wrapper:first-child .content__item {
        margin-top: 4.4rem;
    }

    .footer .content__wrapper:nth-child(2) .content__item {
        margin-top: 3.3rem;
    }
        
    .pets__modal {
        width: 68.2rem;
       
    }

    .modal__container {
        width: 63rem;
    }

    .pets__modal img {
        width: 35rem;
    }

    .pets__modal .text__wrapper {
        max-width: 26rem;
        margin-bottom: 3.8rem;
    }

    .pets__modal h3 {
        margin-top: 1rem;
    }
    
}



@media (max-width:767px) {

    .page__wrapper {
        max-width: 300px;
        margin: 0 auto;
    }

    .header .menu__button {
        position: fixed;
        top: 5.5rem;
        right: 3.5rem;
        background-image: url('../../assets/images/Burger.svg');
        background-repeat: no-repeat;
        width: 30px;
        height: 22px;
        z-index: 1;
    }

    .header .menu .list {
        display: none;
      
    }

 
    .mobile__menu {
        overflow: hidden;
        position: fixed;
        top: 0;
        right: 0;
        width: 32rem;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-dark-3xl);
        transition: 1.25s;
        z-index: 10;
        
    }

    .mobile__menu_hidden {
        transform: translateX(100%);
        width: 0;
    }

   
 
    .mobile__menu .list {
        white-space: nowrap;
        flex-wrap: nowrap;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
       width: 32rem;
       height: 40vh;
       margin-top: 7rem;
      

    }

    .mobile__menu .list__item_link{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 160%;
    color: var(--color-light-s);
}

.mobile__menu .list__item_link_active {
    padding-bottom: 0.3rem;
    border-bottom: 0.3rem solid var(--color-primary);
}

.mobile__menu .list__item_link_disabled {
    color: var(--color-dark-s);
}

.mobile__menu .list__item_link:hover {
    color: var(--color-light-s);
}




    .rotate {
        transform: rotate(-90deg);
    }

    .promo .text__header {
        font-size: 2.5rem;
    }

    .promo .text__wrapper {
        text-align: center;
        margin-bottom: 10.5rem;
    }

    .promo .text__button {
        margin: 0 auto;
        margin-top: 4.2rem;
    }

    .promo .img__wrapper {
        max-width: 26rem;
    }

    .about .page__wrapper, 
    .pets .page__wrapper , 
    .donation .page__wrapper {
        padding-top: 4.2rem;
        padding-bottom: 4.2rem;
    }
    

    .about .img__wrapper {
        max-width: 26rem;
        margin-top: 4.2rem;

    }

    .about .text__header {
        font-size: 2.5rem;
        text-align: center;
    }

    .about .text__wrapper {
        margin: 0 auto;
        max-width: 27rem;
    }


    .pets .page__wrapper > h3 {
        font-size: 2.5rem;
    }

    .pets .card__container {
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
    }
    
    .pets .card__container .arrow__left {
        order: 1;
        margin-right: 8rem;
    }

    .pets .card__container .arrow__right {
        order: 2;
    }

    .pets .card__items {
        margin-top: 4.2rem;
        margin-bottom: 2rem;
    }

    .pets .card__item:nth-child(2) {
        display: none;
    }

    .pets .pets__button {
        margin-top: 4.2rem;
    }

    .help {
        padding: 4.2rem 0;

    }

    .help .section__title {
        font-size: 2.5rem;
        white-space: pre-line;
    }

    .help .icons {
        margin-top: 4.2rem;
    }

    .help .icons h4 {
        font-size: 1.5rem;
    }

    .help .icon__containter {
        
      
        width: calc((100% - 3rem)/2);
        
     }

     .donation .text__header {
         font-size: 2.5rem;
     }

    .donation .page__wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    .donation .text__wrapper {
        text-align: center;
        flex-basis: 28.1rem;
       
    }

    .donation .text__item:nth-of-type(1)  {
       white-space: nowrap;
       letter-spacing: 0.02em;
    }

    .donation .text__item:nth-of-type(2) {
        white-space: nowrap;
        margin: 0 auto;
        margin-left: 0.9rem;
        margin-right: 1rem;
    }

    .donation .card__number {
        font-size: 1.5rem;
       
    }

    .donation .text__item:nth-of-type(3) {
        text-align: justify;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .donation .img__wrapper {
        margin-top: 4.2rem;
    }

    .donation .img__wrapper img {
        width: 100%;
    }

    .footer .page__wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    .footer .content__wrapper .img {
        max-width: 26rem;
    }

    .footer .content__wrapper img {
        width: 100%;
    }

    .pets__modal {
        width: 27rem;
    }

      .modal__container {
         padding-left: 1rem;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          
          width: 24rem;
      }

      .pets__modal img {
          display: none;
      }


      .pets__modal p {
          text-align: justify;
      }

}

